<h3>Update: <%= @project.title %></h3>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="edit-project-title">Retitle project</label>
    <input id="edit-project-title" name="title" class="form-control" type="text" value="<%= @project.title %>" required>
  </div>
  <button type="submit" class="btn btn-dark">Update Project</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete" required>
  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>

<p><a href="/projects/<%= @project.id %>">Back</a></p>
