<% if @project %>
  <h3>
    <%= @project.title %>
     <span><a href="/projects/<%= @project.id %>/edit"><small>(Edit Project)</small></a></span>
  </h3>

  <h4>Volunteers on this project</h4>
  <% if @project.volunteers.first %>
    <ul>
      <% @project.volunteers.each do |volunteer| %>
        <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers listed for this project, yet.</p>
  <% end %>

<hr>

  <h5>Add a volunteer to this project</h5>
  <form action="/projects/<%= @project.id %>/volunteers" method="post">
    <div class="form-group">
      <input id="project-volunteer-name" name="name" class="form-control" type="text" placeholder="Enter a name here" required>
    </div>
    <button type="submit" class="btn btn-dark">Add Volunteer</button>
  </form>

  <p><a href="/projects">Return to projects list</a></p>
<% else %>
  <h3>This project is no longer in our database.</h3>
  <p><a href="/projects">Return to projects list</a></p>

<% end %>
